body {
    font-family: 'Lora', serif;
    background-color: #1a1a1a;
    overflow-wrap: break-word;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
    overflow-x: hidden;
}

ul {
    flex-wrap: wrap;
}

.click:hover {
    color: rgb(255, 128, 9);
}

.name:hover {
    color: #000000;
    background: linear-gradient(to right, rgb(9, 255, 30), rgb(203, 255, 15));
    border-radius: 7px;
    padding: 3px;
    transition: 0.1s ease-in-out;
}

.myself {
    max-width: 1000px;
    /* background-color: RGB(64, 64, 64); */
    min-height: 60vh;
    height: auto;
    max-height: 100vh;
    min-width: 60vw;
    width: auto;
    align-items: center;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 20px;
    padding: 10px;
    color: white;
    /* border: rgb(0, 0, 0) 2px solid; */
    box-shadow: white 0px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    /* overflow-y: auto; */
    overflow-x: hidden;
    box-sizing: border-box;
}

.circle-image {
    box-sizing: border-box;
    position: relative;
    border-radius: 50%;
    max-width: 270px;
    max-height: 270px;
    width: auto;
    height: auto;
    background-color: #000000;
    border: rgb(0, 0, 0) 3px solid;
    box-shadow: rgb(255, 255, 255) 0px 0px 7px 0px;
    margin: auto;
    align-items: center;
    display: flex;
}

.myimage {
    width: 33%;
    height: 100%;
    /* padding: 1rem; */
    /* border: red 2px solid; */
    /* display: flex;
    grid-row-start: auto; */
    justify-content: center;
    align-items: center;
    /* margin:auto; */
    /* flex: 0; */
}

/* .myimage span{
    padding: 1rem;
    display: inline-block;
} */

.about {
    width: 60%;
    height: 100%;
    float: right;
    padding: 10px;
    display: flexbox;
    flex: 2;
}

.links {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 7px;
}

.link {
    padding: 1px 3px 1px 5px;
    height: 10vh;
    width: 5vw;
    box-sizing: border-box;
    display: grid;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.icons {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: 0.1s ease-in-out;
    box-shadow: white 0px 0px 10px 0px;

}

.icons:hover {
    transform: scale(1.1);
    transition: 0.1s ease-in-out;

}


/* Below is the Code for Projects Cards and stuff  */


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.hero {
    background: url('/api/placeholder/1200/400') no-repeat center center/cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ecf0f1;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #bdc3c7;
}

.projects {
    margin-top: 30px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.project-card {
    background: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0 rgb(255, 255, 255);
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h3 {
    margin-top: 0;
    color: #9100bd;
}

.project-card p {
    margin-bottom: 10px;
}

.project-card .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.project-card .tag {
    background: #9100bd;
    color: #ecf0f1;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.8em;
}

footer {
    background: #1a1a1a;
    color: #ecf0f1;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

@media(max-width: 768px) {

    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1.2em;
    }

    .myself {
        flex-direction: column;
        align-items: center;
        /* overflow-y: visible; */
        max-height: none;
        box-shadow: none;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0;
        padding: 1rem;
        padding-top: 2.5rem;
    }

    .about h2{
        padding: 1rem;
    }

    .links {
        grid-template-columns: 33% 33% 33%;
        align-items: center;
        text-align: center;
        padding: 0.1rem;
    }

    .link {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        height: 5vh;
        width: 5vw;
    }

    .myimage,
    .about {
        width: 100%;
    }
}

/* Code below is for Chatbot */

#chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #1d1d1d;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px 0 white;
    transition: transform 0.3s ease;
}

#chatbot-icon:hover {
    transform: scale(1.1);
}

#chatbot-container {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 300px;
    height: 400px;
    background:url(assets/chatbg.png);
    /* backdrop-filter: blur(10px); */
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

#chatbot-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(assets/chatbg.png) no-repeat center;
    background-size: cover;
    filter: blur(2px); 
    z-index: -1; 
}

#chatbot-header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#close-chatbot {
    cursor: pointer;
    font-size: 20px;
}

#chatbot-messages {
    font-size: 12px;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    font-weight: 500;
}

#logo-container {
    height: 40px;
    width: 120px;
    background-image: url('finalogo.png');
    background-size: contain;
    background-position: center;
  }

.message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 80%;
}

.user-message {
    background-color: #ffffff;
    box-shadow: rgb(13, 13, 13) 0px 0px 1px 0px;
    color: #080808;
    align-self: flex-end;
    margin-left: auto;
}

.bot-message {
    /* background-color: rgb(214, 212, 212); */
    /* box-shadow: rgb(43, 43, 43) 0px 0px 7px 0px; */
    /* background: url('assets/finalogo.png')no-repeat; */
    background-size: 20px;
    border-radius: 12px 12px 2px 2px;
    color: rgb(237, 234, 234);
    align-self: flex-start;
    font-size: 12px;
    font-weight: 500;
    display: flex;
}

#chatbot-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
}

.ellipse-icon {
    position: absolute;
    top: 95px;
    left: 15px;
    border-radius: 50%;
    border-color: #bdc3c7;
    box-shadow: #D8CCE6;
    width: 20px;
    height: 20px;
    object-fit: cover;
    }

#user-input {
    background-color: #ffffff;
    color:rgb(0, 0, 0);
    flex-grow: 1;
    border-radius: 5px;
    outline: none;
    padding: 2px;
    width: 100%;
    font-size: 14px;
}

#send-message {
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

@media (max-width: 480px) {
    #chatbot-container {
        width: calc(70%);
        height: 50vh;
        bottom: 0.5rem;
        right: 0.5rem;
    }
}

/* Pyramid Loader */

.pyramid-loader {
    margin: auto;
    margin-top: 1.2rem;
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
    /* margin: 1.2rem; */
    text-align: right;
    align-items: right;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotateY(360deg);
    }
}

.pyramid-loader .wrapper .side {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
    transform: rotateZ(-30deg) rotateY(90deg);
    background: conic-gradient(#2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.pyramid-loader .wrapper .side2 {
    transform: rotateZ(30deg) rotateY(90deg);
    background: conic-gradient(#2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.pyramid-loader .wrapper .side3 {
    transform: rotateX(30deg);
    background: conic-gradient(#2F2585, #D8CCE6, #F028FD, #2BDEAC);
}

.pyramid-loader .wrapper .side4 {
    transform: rotateX(-30deg);
    background: conic-gradient(#2BDEAC, #F028FD, #D8CCE6, #2F2585);
}

.pyramid-loader .wrapper .shadow {
    width: 40px;
    height: 40px;
    background: #8B5AD5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotateX(90deg) translateZ(-40px);
    filter: blur(12px);
}


/* ------------------------------ For Navbar !! -------------------------------------------*/

/* Header and navigation */
header {
    /* background: black;     */
    background-color: #1a1a1a;
    color: #ecf0f1;
    padding: 0rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1rem 0 0rem 1rem;
}

.logo img {
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 white;
}

.logo span {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
}

@media screen and (max-width: 768px) {

    nav {
        position: relative;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 34%;
        background-color: black;
        padding: 0.5rem;
        border-radius: 0.5rem;
        z-index: 1;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 0.5rem;
        text-align: center;
    }

    .hamburger {
        display: flex;
        margin-left: auto;
        margin-right: 1rem;
    }
}